/*GUNDEM CONTENT*/
.gundemHeading {
    background-color: #e2a928;
    padding: 20px 10px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(128,128,128,0.77);
    -moz-box-shadow: 0px 0px 12px 0px rgba(128,128,128,0.77);
    box-shadow: 0px 0px 12px 0px rgba(128,128,128,0.77);
    text-shadow: 2px 2px 5px #000;
}

.gundemSubtitle {
    line-height: 50px;
    height: 50px;
    background-color: #f5f5f5;
    font-weight: 700;
}

.gundemSubtitleContent {
    width: 20%;
}

.gundemContent {
    line-height: 50px;
    height: 50px;
}

.gundemSub-Content {
    width: 20%;
}

.LinkButtonSettings {
    color: black;
    transition: all 0.3s;
    background-color: transparent !important;
    margin-top:-6px !important;
}

    .LinkButtonSettings:hover {
        color: #e2a928;
    }

.gundemTableSettings {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(128,128,128,0.77);
    -moz-box-shadow: 0px 0px 12px 0px rgba(128,128,128,0.77);
    box-shadow: 0px 0px 12px 0px rgba(128,128,128,0.77);
    margin-bottom:50px;
}
.boslukSil {
    margin-bottom: 0 !important;
    border-radius:0 !important;
}
